name: Integration Tests

env:
  NODE_ENV: ${{ vars.NODE_ENV }}
  BASE_URL_API: ${{ vars.BASE_URL_API }}

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 'lts/Krypton'
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Verify integration
        run: CI=false yarn verify
